@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

nav {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 90;
}

.logo {
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    animation-name: headerIn;
    animation-duration: 0.8s;
}

@keyframes headerIn {
    from {
        transform: translateY(-50vh);
    }
    to {
        transform: translateY(0);
    }
}

.logo-img {
    width: 6vw;
    animation-name: logoIn;
    animation-duration: 1.5s;
}

@keyframes logoIn {
    from {
        transform: translateY(-50vh);
    }
    to {
        transform: translateY(0);
    }
}

.voyage {
    width: 3vw;
    height: 5vh;
    margin-top: -5vh;
    margin-right: 4vw;
    animation-name: slideTop;
    animation-duration: 1s;
}

@keyframes slideTop {
    from {
        transform: translateY(-50vh);
    }
    to {
        transform: translateY(0);
    }
}

.voyage img {
    width: 100%;
    height: 100%;
}

.logo-img a img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.logo-img a img:hover {
    transform: scale(0.9) rotate(-6deg);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.hamburger-react {
    background-color: #03999e;
    margin-top: -3vh;
    margin-right: 2vw;
    border-radius: 20vw;
    animation: burgerIn 1s;
}

@keyframes burgerIn {
    from {
        transform: translateY(-50vh);
    }
    to {
        transform: translateY(0);
    }
}

.menu {
    width: 50vw;
    height: 85vh;
    background-color: #03999e;
    position: absolute;
    left: 60vw;
    top: -10vh;
    z-index: -1;
    opacity: 1;
    border-radius: 0 0 0 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px black;
}

.menu ul {
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -5vw;
    margin-top: -5vh;
}

.menu li {
    list-style-type: none;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 4vw;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* ------------- sliding menu ------------------ */
.hidden {
    transform: translate(80%, -80%);
}

.hidden.menu a {
    opacity: 0;
}

.visible {
    display: inherit;
}

.visible.menu a {
    opacity: 1;
}

/* ----- sliding animations--------- */
/* clicked */
.menu.visible {
    transform: translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu.visible a {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 500ms;
}

/* unclicked */
.menu.hidden {
    transform: translate(80%, -80%);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu.hidden a {
    opacity: 0;
}

/* Responsive */

/* VERY Small Screen */
@media only screen and (min-width: 320px) and (max-width: 575px) {
    nav {
        position: fixed;
        justify-content: end;
    }

    nav .logo {
        display: none;
    }

    nav .voyage {
        display: none;
    }

    nav .menu {
        width: 110%;
        height: 70vh;
        left: 20vw;
        top: -10vh;
        border-radius: 0 0 0 50vw;
    }

    nav .menu ul {
        margin-top: 5vh;
        margin-left: -20vw;
    }

    nav .menu a {
        font-size: 12vw;
    }
}

/* Extra Small Screen */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    nav .voyage {
        display: none;
    }

    nav .logo {
        width: 10%;
    }

    nav .logo a img {
        margin-top: -1.5vh;
        width: 8vw;
    }

    nav .menu {
        width: 75%;
        left: 50%;
        border-radius: 0 0 0 60vw;
    }

    nav .menu ul {
        margin-top: -10vh;
        margin-left: -10vw;
    }

    nav .menu li {
        margin-top: 5vh;
    }
}

/* Small Screen */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    nav .logo {
        width: 10%;
    }

    nav .logo a img {
        margin-top: -2vh;
        width: 85%;
    }

    nav .voyage {
        width: 3.5%;
    }

    nav .menu {
        width: 75%;
        left: 60%;
        border-radius: 0 0 0 40vw;
    }

    nav .menu ul {
        margin-top: -1vh;
        margin-left: -35%;
    }

    nav .menu li {
        margin-top: 4vh;
    }
}

/* Medium Screen */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* none */
}

/* Large Screen */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
    nav .logo a img {
        margin-top: 1vh;
    }
}

/* Extra Large Screen */
@media only screen and (min-width: 1441px) and (max-width: 2112px) {
    nav .logo a img {
        margin-top: 1vh;
    }
}

/* VERY Large Screen */
@media only screen and (min-width: 2113px) {
    nav .logo a img {
        margin-top: 1vh;
    }
}
